<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title page like Facebook or Google</title>
  </head>

  <body> //all most be write into this tag
    <h1>this is a header text</h1>

    <p>this is a paraph</p>

    <div>this is a box, you can put tags here</div>

    <p>Example</p>

    <div>

      <h1>my title</h1>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil ratione,
        eum sed nostrum, eos amet minus odio alias pariatur modi iste deleniti
        sequi. Porro adipisci praesentium, quaerat blanditiis tempora facilis?
      </p>

    </div>
  </body>
</html>
