extends ./utils/layout

block append head
  link(rel="stylesheet" href="/stylesheets/sass/index.css")

block content
  h1= title
  p Welcome to #{title}

  section.grid-content
    .box-content
      h3 find your ideal car
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        | Tempore ab eius error quidem nobis modi assumenda in corporis,
        | reprehenderit voluptatum eum recusandae consequatur voluptas
        | aperiam voluptatem perspiciatis, saepe vel earum!

      

    if brands
      .grid-content
        each brand in brands
          .box
            .img-content
              .circle.asImg
            p #{brand.companyname}
