extends layout

block append head

  
  link(rel='stylesheet' href='/stylesheets/sass/main.css')

block content
  h1 #{title}
  form.grid-content(action="" method="post")

    .content

    .content
      .input-content
        label(for="name") Category name
        input#name(type="text" name="name")

      .buttons
        +btnBack
        button(type="submit") Create
        
  if errors
    .alert(onclick="this.style.display = 'none'")
      .alert-content
        .icon-error-x
          .sides-container
            .side#x-lateral1
            .side#x-lateral2
        button Ok

  script(src="/javascripts/navbar.js")