extends layout

block append head


  script.

    window.onload= ()=>{


      function handlerfile(fileContent,file){
        const reader = new FileReader();
        reader.readAsDataURL(file);

        reader.onload = () => {
          fileContent.style.backgroundImage = `url(${reader.result})`;
          span.classList.add("hidden")
          fileContent.classList.remove("hidden")
        }
      }

      const dropfile = document.querySelector(".dropfile");
      const fileContent = document.querySelector(".file-content");
      const span = document.querySelector(".dropfile-text");
      const inputFile = document.querySelector("input[type='file']");

      dropfile.onclick = ()=>{
        inputFile.click();
      }

      inputFile.onchange = () =>{
        handlerfile(fileContent, inputFile.files[0])
      }

      dropfile.addEventListener("dragover", e =>{
        e.preventDefault()
      });

      dropfile.addEventListener("drop", e =>{
        e.preventDefault()
        handlerfile(fileContent,e.dataTransfer.files[0])

      });

    }


block append head
  link(rel='stylesheet' href='/stylesheets/sass/main.css')
block content
  h1 #{title}

  form.grid-content(action="" method="post")

    .dropfile(style={
      background: `url(${img})`,
      "background-position": "center",
      "background-size": "cover",
    })

      span.dropfile-text Drop brand logo or click here

      .input-content.hidden
        input(type="file" name="logo")

      .file-content.hidden


    .content
      .input-content
        label(for="company") Lorem Ipsum
        input#company(type="text" name="companyname")
      .input-content
        label(for="website") Lorem Ipsum
        input#website(type="text" name="website" placeholder="url")
      .buttons
        +btnBack
        button(type="submit") Create
    if errors
      .alert(onclick="this.style.display = 'none'")
        .alert-content
          .icon-error-x
            .sides-container
              .side#x-lateral1
              .side#x-lateral2
          button Ok
  
  script(src="/javascripts/navbar.js")