body {
  margin-top: 10vh;

  button {
    user-select: none;
    font-weight: bold;
  }

  form {
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    box-sizing: border-box;
    background: var(--color6);
    overflow: auto;
    min-height: 400px;
    height: 80vh;
    position: relative;

    .dropfile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: solid var(--color1) 2px;
      font-size: 1.6em;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      background-size: 60px auto;
      background-repeat: space space ;


      span.dropfile-text{
        z-index: 1;
        color: #bdbdbd
      }

      .file-content {
        height: 60%;
        width: 60%;
        background-position: center;
        background-size: contain;
        z-index: 1;
        background-repeat: no-repeat;
      }

      &::after{
        content: "";
        display: block;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    .content {
      margin: auto;

      .input-content {
        input[type="text"],
        select,
        input[type="number"] {
          font-size: medium;
          box-sizing: border-box;
          height: 28px;
          padding-left: 10px;
          border: 1px var(--color5) solid;
          border-radius: 5px;
        }
      }

      .input-content > label {
        display: block;
        font-weight: bold;
      }

      .buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 20px;

        button {
          margin-left: 20px;
          border: var(--color1) solid 2px;
          background: transparent;
          color: var(--color1);
          font-size: 20px;
          width: 117px;
          height: 38px;
          // margin-right: 30px;
          border-radius: 14px;

          &:hover {
            --color1: #9c6a4b;
          }
        }

        button[type="submit"] {
          background: var(--color1);
          color: #fff;
          transition: all 0.2s;
        }
      }
    }
  }

  .alert {
    background: #000000bd;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    overflow: hidden;

    .alert-content {
      background: #f3f3f3;
      position: relative;
      margin: auto;
      width: 70%;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);

      .icon-error-x {
        box-sizing: border-box;
        border-radius: 50%;
        border: #ff3300 6px solid;
        margin: auto;
        height: 90px;
        width: 90px;
        position: relative; // <--
        top: 24px; // <--

        .sides-container {
          height: 100%;
          width: 100%;
          position: relative;
          .side {
            // margin: auto;
            height: 70%;
            width: 6px;
            position: absolute;
            background: #ff3300;
            left: 50%;
            bottom: 50%;
            border-radius: 20px;
          }

          #x-lateral1 {
            transform: translate(-50%, 50%) rotate(45deg);
          }
          #x-lateral2 {
            transform: translate(-50%, 50%) rotate(-45deg);
          }
        }
      }
    }
  }
}
