body{

  margin-top: 4em;

  section{
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 30px;

    .card-box{
      background: #fff;
      height: 350px;
      border-radius: 10px;
      position: relative;
      box-shadow: #00000070 0 7px 9px -8px;

      .show-more-content{
        position: absolute;
        top: 5px;
        left: 5px;

        .circle{
          background: #000000;
          height: 6px;
          width: 6px;

          &:nth-child(2){
            margin: 2px 0;
          }
        }
      }
      
      .img-content{
        background: #00000005;
        height: 60%;
      }

      .category{
        color: #a6a6a6;
        span{
          color: var(--color1);
        }
      }
    }
  }
}