extends ../utils/layout

block append head
  link(rel='stylesheet' href='/stylesheets/forms/index.css')

block content
  h1 #{title}

  if errors
    ul 
      each err in errors
        li #{err.msg}

  form.grid-content(action="" method="post")

    .box-content

    .box-content
      .input-content
        label(for="name") Category name
        input#name(type="text" name="name")

      .buttons
        +btnBack
        button(type="submit") Create

  if dataSent
    script.
      const data = !{JSON.stringify(dataSent)};
      document.querySelector(`input#name`)
        .value = data.name; 