extends ../utils/layout

block append head
  link(rel='stylesheet' href='/stylesheets/forms/index.css')
block content
  h1 #{title}

  if errors
    ul 
      each err in errors
        li #{err.msg}

  form.grid-content(action="" method="post")

    .box-content
      .input-content
        input(type="file" name="logo")

    .box-content
      .input-content
        label(for="company") company name
        input#company(type="text" name="companyname", required)
      .input-content
        label(for="website") website
        input#website(type="text" name="website" placeholder="url", required)

      .buttons
        +btnBack
        button(type="submit") Create

  if dataSent
    script.
      const data = !{JSON.stringify(dataSent)}
      console.log(data)

      for (const key in data) {
        document.querySelector(`input[name='${key}']`)
          .value = data[key]
      }
      